<div class="flex h-screen">
  <aside class="sidebar">
    <ul class="flex flex-col gap-2">
      <li class="text-2xl">Dices</li>
      <li class="" *ngFor="let dice of selectableDices">
        <dice [dice]="dice" [isDisabled]="hasReachedMaximumDicesAmount()" [onClick]="add"></dice>
      </li>
      <li class="">
        <button
          class="button"
          [disabled]="(currentDicesAmount$ | async)! === 0"
          (click)="rollDices()"
          >
            <!-- <svg-icon class="fill-zinc-100 h-10" [path]="assets/dices.svg" /> -->
            <!-- <img class="h-10 fill-zinc-100" src="assets/dices.svg" alt="Roll" /> -->
        </button>
      </li>
      <li class="justify-self-end mt-auto">
        <button
          class="button _danger"
          [disabled]="(currentDicesAmount$ | async)! === 0"
          (click)="resetDices()"
          >
          Reset
        </button>
      </li>
    </ul>
  </aside>
  <main class="flex-1 p-4 flex flex-col gap-4">
    <h2 class="text-2xl text-zinc-100">
      Current Dices Amount: {{ currentDicesAmount$ | async }}
    </h2>
    <ul class="flex gap-2 flex-wrap" *ngFor="let diceAmount of selectedDices">
      <li *ngFor="let dice of getDices(diceAmount.key, diceAmount.qty, diceAmount.value)">
        <dice [dice]="dice.type" [value]="dice.value" [isDisabled]="false" [showValue]="true" [onClick]="remove"></dice>
      </li>
    </ul>
    <h2 *ngIf="currentHasRolled$ | async" class="text-2xl">Total sum {{currentSelectedDicesSum$ | async}}</h2>
  </main>
</div>

<router-outlet></router-outlet>
